{% include 'shared-system.j2' %}
{% include 'shared-system-qfx.j2' %}
{% include 'shared-telemetry.j2' %}
{% include 'shared-snmp.j2' %}
{% include 'shared-chassis.j2' %}
{% include 'shared-cos.j2' %}
{% include 'shared-interfaces.j2' %}
{% include 'spanning_tree.j2' %}
{% include 'shared-bgp.j2' %}
{% include 'routing.j2' %}
{% include 'shared-evpn-base.j2' %}
{% include 'shared-evpn-vrfs.j2' %}
{% include 'evpn.j2' %}
{% include 'shared-firewall.j2' %}
{% include 'shared-vlans-evpn.j2' %}
