{% include 'routing-prefix-lists.j2' %}
policy-options {
    policy-statement send-direct {
        term 2 {
            from protocol direct;
            then accept;
        }
    }
    policy-statement vrf-ibgp {
        from {
            protocol [ static direct bgp ];
        }
        then {
             next-hop self;
             accept;
        }
    }
    policy-statement default-deny {
        term deny {
            then reject;
        }
    }
}
{##################}
{#   self_peers   #}
{##################}
{# config['transit_vrf'] stores the name for our transit VRF #}
{% for peer in config['bgp']['vrf_peers']['self_peers'] %}
 {% if peer['vrf'] == config['transit_vrf'] %}
  {% if peer['remote-vrf'] == config['transit_vrf'] %}
   {% include 'routing-transit-tranist.j2' %}
  {% else %}
   {% include 'routing-transit-other.j2' %}
  {% endif %}
 {% elif peer['remote-vrf'] == config['transit_vrf'] and peer['vrf'] != config['transit_vrf'] %}
  {% include 'routing-other-transit.j2' %}
 {% else %}  {# Science-DMZ to Science-DMZ-Private #}
  {% include 'routing-other-other.j2' %}
 {% endif %}
 {% include 'routing-peers-self.j2' %}
{% endfor %}
{###################}
{#   isp_peers   #}
{###################}
{% for peer in config['bgp']['vrf_peers']['isp_peers'] %}
 {% if 'filter' in peer %}
  {% include 'routing-isp.j2' %}
  {% include 'routing-peers-isp.j2' %}
 {% endif %}
{% endfor %}
{###################}
{#   other_peers   #}
{###################}
{% for peer in config['bgp']['vrf_peers']['other_peers'] %}
 {% if 'filter' in peer %}
  {% include 'routing-other-filtered.j2' %}
  {% include 'routing-peers-other-filtered.j2' %}
 {% else %}   {# this section is unused in production #}
  {% include 'routing-other-unfiltered.j2' %}
  {% include 'routing-peers-other-unfiltered.j2' %}
 {% endif %}
{% endfor %}
{######################}
{#   firewall_peers   #}
{######################}
{% for peer in config['bgp']['vrf_peers']['firewall_peers'] %}
 {% if peer['vrf'] == config['transit_vrf'] %}
  {% include 'routing-transit-firewall.j2' %}
 {% else %}  {# Not the transit VRF #}
  {% include 'routing-vrf-firewall.j2' %}
 {% endif %}
 {% include 'routing-peers-firewall.j2' %}
{% endfor %}
{#################}
{#   wan_peers   #}
{#################}
{% for border in config['bgp']['vrf_peers']['wan_peers'] %}
 {% include 'routing-wan.j2' %}
 {% include 'routing-peers-wan.j2' %}
{% endfor %}
{##################}
{#   ibgp_peers   #}
{##################}
{% for neighbor in config['bgp']['vrf_peers']['ibgp_peers'] %}
 {% include 'routing-peers-ibgp.j2' %}
{% endfor %}
{##################}
{#   dns_peers   #}
{##################}
{% if 'dns_peers' in config['bgp']['vrf_peers'] %}
 {% for neighbor in config['bgp']['vrf_peers']['dns_peers'] %}
  {% include 'routing-peers-dns.j2' %}
  {% include 'routing-dns.j2' %}
 {% endfor %}
{% endif %}
