   {# advertise default route only #}
policy-options {
    policy-statement {{ peer['vrf'] }}-vrf-default-from-sn {
        term import-default {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term default-deny {
            then reject;
        }
    }
    policy-statement {{ peer['vrf'] }}-vrf-default-ipv6-from-sn {
        term import-default {
            from {
                route-filter ::/0 exact;
            }
            then accept;
        }
        term default-deny {
            then reject;
        }
    }
   {# policy-statement using filter for input #}
   {% for t_vrf in config['vrfs'] %}
     {% if t_vrf['name'] == peer['vrf'] %}
       {% if 'ipv4_filtered_prefixes' in t_vrf %}
         {% for prefix_filter in t_vrf['ipv4_filtered_prefixes'] %}
           {% if prefix_filter == peer['filter'] %}
    policy-statement {{ peer['vrf'] }}-vrf-to-sn-{{ prefix_filter }} {
        term import-networks {
            from {
             {% for prefix in t_vrf['ipv4_filtered_prefixes'][prefix_filter] %}
                route-filter {{ prefix }} orlonger;
             {% endfor %}
            }
            then accept;
        }
        term default-deny {
            then reject;
        }
    }
           {% endif %}
         {% endfor %}
       {% endif %}
       {% if 'ipv6_filtered_prefixes' in t_vrf %}
         {% for prefix_filter in t_vrf['ipv6_filtered_prefixes'] %}
           {% if prefix_filter == peer['filter'] %}
    policy-statement {{ peer['vrf'] }}-vrf-ipv6-to-sn-{{ prefix_filter }} {
        term import-networks {
            from {
             {% for prefix in t_vrf['ipv6_filtered_prefixes'][prefix_filter] %}
                route-filter {{ prefix }} orlonger;
             {% endfor %}
            }
            then accept;
        }
        term default-deny {
            then reject;
        }
    }
           {% endif %}
         {% endfor %}
       {% endif %}
     {% endif %}
   {% endfor %}
}
