system {
    host-name {{ config['hostname']|replace(config['dns']['network-device-domainname'], '') }};
    auto-snapshot;
    time-zone {{ config['ntp']['timezone'] }};
    root-authentication {
        encrypted-password {{ config['root']['password'] }};
    }
    name-server {
        {% for server in config['dns']['servers'] %}
          {% if config['device_role'] in ["Collapsed-Core", "Core", "Distribution", "Services", "WAN"] %}
        {{ server }} routing-instance mgmt_junos;
          {% else %}
        {{ server }};
          {% endif %}
        {% endfor %}
    }
    login {
        class view-all {
            permissions [ access admin clear firewall interface network routing secret security snmp system trace view view-configuration ];
            allow-commands "^show";
        }
        {% for user in config['users'] %}
        {% set user_key = 'users' %}
        {% include 'shared-users.j2' %}
        {% endfor %}
        {% if 'additional_users' in config %}
        {% for user in config['additional_users'] %}
        {% set user_key = 'additional_users' %}
        {% include 'shared-users.j2' %}
        {% endfor %}
        {% endif %}
    }
    no-multicast-echo;
    no-redirects;
    no-redirects-ipv6;
    no-ping-record-route;
    no-ping-time-stamp;
    internet-options {
        no-source-quench;
        tcp-drop-synfin-set;
        no-tcp-reset drop-all-tcp;
    }
    services {
        ssh {
            root-login deny;
            protocol-version v2;
            {% if 'device_platform' in config and config['device_platform'] and ('Junos 22' in config['device_platform'] or 'Junos 23' in config['device_platform']) %}
            {% else %}
            no-tcp-forwarding;
            {% endif %}
            client-alive-count-max 3;
            client-alive-interval 15;
            hostkey-algorithm {
                ssh-rsa;
            }
        }
        netconf {
            ssh;
        }
    }
    syslog {
        allow-duplicates;
        user * {
            any emergency;
        }
        time-format year millisecond;
        {% for server in config['syslog']['servers'] %}
        host {{ server }} {
            any info;
            {% if "facility" in config['syslog'] %}
            facility-override {{ config['syslog']['facility'] }};
            {% else %}
            facility-override local1;
            {% endif %}
            log-prefix {{ config["hostname"]|replace(config['dns']['network-device-domainname'], "") }};
            source-address {{ config['mgmt_ip']['ip'] }};
            {% if config['device_role'] in ["Collapsed-Core", "Core", "Distribution", "Services", "WAN"] %}
            routing-instance mgmt_junos;
            {% endif %}
            structured-data;
            match "!(.*{{ config['syslog']['messages_ignore']|join('.*|.*') }}.*)";
        }
        {% endfor %}
        file messages {
            any info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        {% if "tags" in config %}
        {% for tag in config['tags'] %}
        {% for k,v in tag.items() %}
        {% if k == "syslog_all" and v == true %}
        file messages-all {
            any any;
            allow-duplicates;
        }
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    }
    {% if 'EX4300' in config['vendor_model'] or ('QFX' in config['vendor_model'] and not config['device_role'] in ["WAN"]) %}
    ddos-protection {
        global {
            disable-fpc;
        }
    }
    {% endif %}
    ntp {
        {% for server in config['ntp']['servers'] %}
        {% if config['device_role'] in ["Collapsed-Core", "Core", "Distribution", "Services", "WAN"] %}
        server {{ server }} routing-instance mgmt_junos;
        {% else %}
        server {{ server }};
        {% endif %}
        {% endfor %}
        {% if config['device_role'] in ["Collapsed-Core", "Core", "Distribution", "Services", "WAN"] %}
        source-address {{ config['mgmt_ip']['ip'] }} routing-instance mgmt_junos;
        {% else %}
        source-address {{ config['mgmt_ip']['ip'] }};
        {% endif %}
    }
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
{% if config['device_role'] not in ["Collapsed-Core", "Core", "Distribution", "Services", "WAN"] %}
{% include 'shared-system-mgmt-int.j2' %}
{% endif %}
protocols {
    lldp {
        vlan-name-tlv-option vlan-id;
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
    {% if config['device_role'] in ["Collapsed-Core", "Distribution"] %}
    igmp-snooping {
        vlan default;
        {% for autoirb in config['autoirbs'] %}
        {% if 'igmpsnooping' in autoirb and autoirb['igmpsnooping'] == True %}
        vlan {{ autoirb['native_vlan'] }} {
            l2-querier {
                source-address {{ autoirb['gateway'].split('/')[0] }};
            }
        }
        {% endif %}
        {% endfor %}
    }
    {% endif %}
}
