{% include 'shared-bgp-underlay.j2' %}
{% include 'shared-bgp-overlay.j2' %}
security {
    authentication-key-chains {
        key-chain bgp-peers {
            description "authentication for BGP peers";
            tolerance 3600;
            {% for key in config['bgp']['keys'] %}
            key {{ loop.index }} {
                secret "{{ key['secret'] }}";
                start-time "{{ key['start'] }}";
                algorithm hmac-sha-1;
                options isis-enhanced;
            }
            {% endfor %}
        }
    }
}
protocols {
    bgp {
        log-updown;
        bgp-error-tolerance {
            malformed-update-log-interval 10;
            malformed-route-limit 5;
        }
        graceful-restart;
    }
}

