forwarding-options {
    vxlan-routing {
        loopback-port {{ ns.riot_config }};
    }
}
protocols {
    evpn {
        riot-loopback;
    }
}
  {% for this_vrf in config['vrfs'] %}
    {% if 'no_evpn' in this_vrf and this_vrf['no_evpn'] %}
    {% elif 'rd' in this_vrf and this_vrf['rd'] %}
vlans {
    {{ this_vrf['name'] }}-L3-RIOT {
        vlan-id {{ this_vrf['rd'] }};
        l3-interface irb.{{ this_vrf['rd'] }};
        vxlan {
            vni {{ this_vrf['rd'] }};
            riot-loopback;
        }
    }
}
routing-instances {
    {{ this_vrf['name'] }} {
        interface irb.{{ this_vrf['rd'] }};
        protocols evpn {
            irb-symmetric-routing {
                vni {{ this_vrf['rd'] }};
            }
        }
    }
}
interfaces {
    irb {
        unit {{ this_vrf['rd'] }} {
            family inet;
            interface-state {
                local-interface {{ ns.riot_config }}.{{ this_vrf['rd'] }};
                hold-time {
                    up 120;
                }
            }
            mac 00:00:00:07:{{ "%0x:%0x" % (( this_vrf['rd']|int // 256 ), ( this_vrf['rd']|int % 256 )) }};
        }
    }
}
    {% endif %}
  {% endfor %}
  {% for this_int in config['interfaces'] %}
    {% if 'irb' in this_int['name'] %}
      {% for this_vlan in config['vlans'] %}
        {% if (this_vlan['name'] == this_int['native_vlan']) and ('vni' in this_vlan and this_vlan['vni']) %}
interfaces {
    irb {
        unit {{ this_vlan['vid'] }} {
            interface-state {
                local-interface {{ ns.riot_config }}.{{ this_vlan['vid'] }};
                hold-time {
                    up 120;
                }
            }
        }
    }
}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

