          You are connected to the {{ inventory_hostname }} switch.
              Unauthorized use or access is prohibited!
*************************************************************************
****                                                                 ****
****            To report problems, please call the                  ****
****         Network Operations Center at 608-263-4188               ****
****               or email noc@doit.wisc.edu.                       ****
****                                                                 ****
*************************************************************************