policy-options {
{% for vrf in config['vrfs'] %}
  {% if 'rd' in vrf and vrf['rd'] != None %}
    policy-statement {{ vrf['name'] }}-vrf-export {
        term {{ vrf['name'] }}-networks {
            {% for int in config['interfaces'] if not int['name'] in config['lacp_interfaces'] %}
            {% if int['enabled'] and 'vrf' in int and int['vrf'] == vrf['name'] %}
            from interface {{ int['name'] }};
            {% endif %}
            {% endfor %}
            then {
                community add {{ vrf['name'] }}-vrf;
                accept;
            }
        }
        term {{ vrf['name'] }}-local {
            from {
                protocol local;
                route-filter 0.0.0.0/0 prefix-length-range /32-/32;
            }
            then {
                community add {{ vrf['name'] }}-vrf;
                accept;
            }
        }
        term {{ vrf['name'] }}-BGP {
            from {
                protocol bgp;
            }
            then {
                community add {{ vrf['name'] }}-vrf;
                accept;
            }
        }
        term default-reject {
            then reject;
        }
    }
    policy-statement {{ vrf['name'] }}-vrf-import {
        term {{ vrf['name'] }}-vrf {
            from community {{ vrf['name'] }}-vrf;
            then accept;
        }
    }
  {% endif %}
{% endfor %}
}
